<div class="social-icons d-flex align-items-center justify-content-center py-3">
    <div class="facebook rounded-circle"><i class="fa-brands fa-facebook-f"></i></div>
    <div class="twitter rounded-circle"><i class="fa-brands fa-twitter"></i></div>
    <div class="instagram rounded-circle"><i class="fa-brands fa-instagram"></i></div>
    <div class="linkedin rounded-circle"><i class="fa-brands fa-linkedin-in"></i></div>
    <div class="github rounded-circle"><i class="fa-brands fa-github"></i></div>
</div>

<div class="copy-right text-white d-flex justify-content-center align-items-center bg-black py-3">
  <p class="m-0">© 2023 Copyright: Mustafa Ahmed</p>
</div>
