@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
@import "node_modules/@costlydeveloper/ngx-awesome-popup/styles/theme";

:root
{
    --main-color:#150aad;
    --light-color:#f0f3f2;
    --Dark-color: #171717;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
    --nav-dark : #171717;
    --nav-light: #0F969C;
}

body{
    font-family: var(--font-family) !important;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #9ef4f0; */
}
